<div class="container-login d-flex flex-column justify-content-center">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <div>
              <button
                class="close ol"
                type="button"
                (click)="onClose()"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
              <div>
                <form
                  [formGroup]="loginform"
                  (ngSubmit)="onLoginUser(loginform)"
                >
                  <h1 class="text-success text-center">Login</h1>
                  <label>Email</label>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control m-2"
                  />
                  <small
                    *ngIf="
                      !loginform.get('email').valid &&
                      loginform.get('email').touched
                    "
                    >*Please Enter Valid Email</small
                  >
                  <br />
                  <label>Password</label>
                  <input
                    pattern=".{8,}"
                    type="password"
                    formControlName="password"
                    class="form-control m-2"
                  />
                  <small
                    *ngIf="
                      !loginform.get('password').valid &&
                      loginform.get('password').touched
                    "
                    >*Please Enter Valid Password</small
                  ><br />
                  <div class="text-center">
                    <button type="submit" class="m-2 btn btn-success">
                      Login
                    </button>
                  </div>
                </form>
              </div>

              <div class="text-center">
                New User ? <a [routerLink]="['/register']">Create an Account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
