input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0px 2px red;
}
small {
  color: red;
}

.container-login {
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
}
.ol {
  outline: none;
}
