.bg {
  color: #3f51b5;
  background-color: rgba(255, 255, 255, 0.924);
  /* background-image: url("src/assets/flight_background.\jpg"); */
  border-radius: 50px;
  box-shadow: 0 0 8px 3px #3f51b5;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: #3f51b5;
}
