<div class="search-hero">
  <input
    class="form-control"
    type="text"
    name="search"
    [(ngModel)]="searchText"
    autocomplete="off"
    placeholder="Start searching for a hero by id or name or country"
  />
  <div
    *ngFor="
      let bookingdata of BookingData
        | filterItem: searchText
        | paginate: { itemsPerPage: 10, currentPage: p }
    "
  >
    <div class="card m-5 bg">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h5 class="card-title text-center">
              {{ bookingdata.travelClass | uppercase }}
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-left">
            {{ bookingdata.fromPlace | uppercase }}
          </div>
          <div class="col-4 text-center">
            <i class="material-icons">compare_arrows</i>
          </div>

          <div class="col-4 text-right">
            {{ bookingdata.toPlace | uppercase }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-left">
            {{ bookingdata.travelDate | uppercase }}
          </div>

          <div class="col-6 text-right">
            {{ bookingdata.returnDate | uppercase }}
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-left">
            <small>Adults :</small>{{ bookingdata.adultsCount }}
          </div>
          <div class="col-4 text-center">
            <small>Children:</small> {{ bookingdata.childrenCount }}
          </div>

          <div class="col-4 text-right">
            <small>Infants:</small> {{ bookingdata.infantsCount }}
          </div>
        </div>
        <hr class="m-5" />
        <div class="row">
          <div class="col-6 text-left">
            <small>Status :</small>{{ bookingdata.status }}
          </div>

          <div class="col-6 text-right">
            <button
              class="btn btn-danger"
              *ngIf="bookingdata.status !== 'cancelled'"
              (click)="onCancelled(bookingdata._id)"
            >
              Cancel Flight
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> -->
  <div>
    <pagination-controls
      class="my-pagination
    text-center"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>
